<form action="/admin/login" method="POST">
  <h1>Đăng nhập FongFood</h1>
  <div class="inset">
  <p>
    <label for="username">Tài khoản: </label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">Mật khẩu: </label>
    <input type="password" name="password" id="password">
  </p>
  </div>
  <p class="p-container">
    <span>Quên mật khẩu?</span>
    <input type="submit" class="btn btn-dark" value="Đăng nhập">
  </p>
</form>