{{!-- <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a href="/"><img alt="logo" src="/images/logo.png" style="width: 100px;" /></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rice">Rice</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/soup">Phở</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/porridge">Cháo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/noodle">Bún</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/milktea">Trà sữa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/juice">Nước ép</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/coffee">Coffee</a>
    </li>
</ul> --}}

{{!-- <style>
    a{
        align-items-start: ;
    }
</style> --}}

<a href="/"><img alt="logo" src="/images/logo.png" style="width: 100px;" /></a>
<div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdown-main" data-toggle="dropdown" aria-haspopup="true" và aria-expanded="false">
        Quản lý quán
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdown-main">
        <div class="d-flex flex-column align-items-start">
            <a class="btn btn-dark w-100 mb-2" href="/">Home</a>
            <a class="btn btn-dark w-100 mb-2" href="/rice">Rice</a>
            <a class="btn btn-dark w-100 mb-2" href="/soup">Phở</a>
            <a class="btn btn-dark w-100 mb-2" href="/porridge">Cháo</a>
            <a class="btn btn-dark w-100 mb-2" href="/noodle">Bún</a>
            <a class="btn btn-dark w-100 mb-2" href="/milktea">Trà sữa</a>
            <a class="btn btn-dark w-100 mb-2" href="/juice">Nước ép</a>
            <a class="btn btn-dark w-100 mb-2" href="/coffee">Coffee</a>
        </div>
        </div>
</div>