<br />
<h1>Xin chao ban da dang nhap vao trang chu cua FongFood</h1>
<img src="images/avatars/{{userAvatarSession}}" src="name" />
<form action="/upload" method="POST" enctype="multipart/form-data">
    
    <input type="file" name="file" />
    <input type="submit" value="upload" />

</form>